:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(101, 99, 98);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #616ecf;
  text-decoration: inherit;
}

body {
  margin: auto;
  display: flex;
  place-items: center;
  min-height: 100vh;
  place-content: center;
  
}


