@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$primary:rgba(243, 228, 225, 1) ;
$secondary: rgba(56, 132, 109, 1);
$tertiary:rgba(47, 41, 38, 1);
$quaternary: rgba(229, 103, 78, 1);
$primary-font: "PT Serif", serif;
$secondary-font: "Work Sans", sans-serif;