.about-wrapper{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: $tertiary;
    

    article{
        z-index: 7;
        font-family: $secondary-font;
        h1{
            margin: 40px 0 40px 0;
            font-size: 2.625rem;
            font-family: $primary-font;
            padding: 0 30px;
        }
    }

    article p:nth-child(2){
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 20px;
        padding: 0 30px;
    }

    article p:nth-child(3),
    article p:nth-child(4){
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 20px;
        padding: 0 30px;

    }
}