.about-wrapper{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    

    article{
        padding: 0.6rem;
        font-family: $secondary-font;
        h1{
            margin: 0.625rem 0 3.125rem 0;
            font-size: 2.625rem;
            font-family: $primary-font;
        }
    }

    article p:nth-child(2){
        font-weight: 600;
        font-size: 14px;
    }

    article p:nth-child(3),
    article p:nth-child(4){
        font-size: 12px;
        font-weight: 400;

    }
}