.profile-wrapper{
    background-color: $tertiary;
    display: flex;
    flex-direction: column;

    .avatar{
        display: flex;
        flex-direction: column;
        place-items: center;


        img{
            width: 100px;
        }

        p{
            margin: 0;
        }

         p:nth-child(2){
            font-family: $primary-font;
            font-weight: 700;
            font-size: 24px;
            color: white;
         }

         p:nth-child(3){
            color: rgba(255, 255, 255, 0.8);
         }
    }
}